version: '3.9'

services:
  server:
    build: ./server
    container_name: chess-server
    ports:
      - '3000:3000'
    env_file:
      - ./server/.env
    networks:
      - fullstack-net
    restart: unless-stopped
  client:
    build:
      context: ./client
      args:
        VITE_SERVER_URL: ${VITE_SERVER_URL}
        VITE_AUTH_URL: ${VITE_AUTH_URL}
        VITE_GOOGLE_CLIENT_ID: ${VITE_GOOGLE_CLIENT_ID}
    container_name: chess-client
    ports:
      - '5173:5173'
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
